force-app/main/default/flows/Contact_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Account</name>
        <label>Assign Account</label>
        <locationX>1259</locationX>
        <locationY>1309</locationY>
        <assignmentItems>
            <assignToReference>$Record.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Black_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_Record_Type</name>
        <label>Assign Contact Record Type</label>
        <locationX>1206</locationX>
        <locationY>656</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Block</name>
        <label>Block</label>
        <locationX>756</locationX>
        <locationY>1458</locationY>
        <assignmentItems>
            <assignToReference>$Record.HasOptedOutOfEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Make_Candidate</name>
        <label>Make Candidate</label>
        <locationX>320</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Black_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Found</name>
        <label>Account Found</label>
        <locationX>1251</locationX>
        <locationY>1122</locationY>
        <defaultConnector>
            <targetReference>Black_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Associated_with_Account</name>
        <label>Associated with Account</label>
        <locationX>742</locationX>
        <locationY>362</locationY>
        <defaultConnector>
            <targetReference>Has_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>Candidate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LegacyAccountID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Black_List</targetReference>
            </connector>
            <label>Candidate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Black_List</name>
        <label>Black List</label>
        <locationX>748</locationX>
        <locationY>1271</locationY>
        <defaultConnectorLabel>No Action</defaultConnectorLabel>
        <rules>
            <name>isBlocked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.isBlocked__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HasOptedOutOfEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Block</targetReference>
            </connector>
            <label>isBlocked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Record_Type</name>
        <label>Contact Record Type</label>
        <locationX>1046</locationX>
        <locationY>479</locationY>
        <defaultConnector>
            <targetReference>Has_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Already Contact</defaultConnectorLabel>
        <rules>
            <name>Update_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Record_Type</targetReference>
            </connector>
            <label>Update Record Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Account</name>
        <label>Has Account</label>
        <locationX>1046</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>Find_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Associate</defaultConnectorLabel>
        <rules>
            <name>Already_Associated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.LegacyOpaID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.LegacyAccountID__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LegacyAccountID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Black_List</targetReference>
            </connector>
            <label>Already Associated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Record_Type</name>
        <label>Has Record Type</label>
        <locationX>452</locationX>
        <locationY>479</locationY>
        <defaultConnector>
            <targetReference>Black_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Candidate Record</defaultConnectorLabel>
        <rules>
            <name>Candidate_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Candidate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_Type_Id</targetReference>
            </connector>
            <label>Assign</label>
        </rules>
    </decisions>
    <interviewLabel>Contact Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Account</name>
        <label>Find Account</label>
        <locationX>1259</locationX>
        <locationY>934</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LegacyOpaID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LegacyAccountID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Record_Type</name>
        <label>Get Contact Record Type</label>
        <locationX>1309</locationX>
        <locationY>473</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Contact_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_Id</name>
        <label>Get Record Type Id</label>
        <locationX>320</locationX>
        <locationY>599</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Make_Candidate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Candidate</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>623</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Associated_with_Account</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
