force-app/main/default/flows/Global_New_Mailshot.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <choices>
        <name>typeFreelance</name>
        <choiceText>Freelance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>01209000000EWy6AAG</stringValue>
        </value>
    </choices>
    <choices>
        <name>typePerm</name>
        <choiceText>Permanent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>01209000000EWy7AAG</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_recordId</name>
        <label>Check recordId</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>selectAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No recordId</defaultConnectorLabel>
        <rules>
            <name>Has_recordId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Job_Details</targetReference>
            </connector>
            <label>Has recordId</label>
        </rules>
    </decisions>
    <interviewLabel>Global New Mailshot {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Global New Mailshot</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createJob</name>
        <label>Create Job</label>
        <locationX>176</locationX>
        <locationY>614</locationY>
        <connector>
            <targetReference>runSubflow</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>closeDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Function__c</field>
            <value>
                <elementReference>jobFunction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>jobName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>jobType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Job_Details</name>
        <label>Job Details</label>
        <locationX>176</locationX>
        <locationY>494</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>createJob</targetReference>
        </connector>
        <fields>
            <name>jobType</name>
            <choiceReferences>typeFreelance</choiceReferences>
            <choiceReferences>typePerm</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>typeFreelance</defaultSelectedChoiceReference>
            <fieldText>Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>jobName</name>
            <dataType>String</dataType>
            <fieldText>Job Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>jobFunction</name>
            <dataType>String</dataType>
            <fieldText>Job Function</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>closeDate</name>
            <dataType>Date</dataType>
            <fieldText>Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>selectAccount</name>
        <label>Select Account</label>
        <locationX>264</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Job_Details</targetReference>
        </connector>
        <fields>
            <name>accountSelected</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <!--inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn -->
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>recordId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_recordId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>runSubflow</name>
        <label>Subflow New Mailshot</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <flowName>New_Mailshot</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>createJob</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
