force-app/main/default/flows/Job_Import_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Skill_Group</name>
        <label>Assign Skill Group</label>
        <locationX>94</locationX>
        <locationY>1127</locationY>
        <assignmentItems>
            <assignToReference>$Record.Skill_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Skill_Group.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Recruiter_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Owner</name>
        <label>Change Owner</label>
        <locationX>50</locationX>
        <locationY>1799</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_By_Recruiter_Email.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>248</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Group_Id</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Found</name>
        <label>Account Found?</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Has_Group_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>AccountFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account</targetReference>
            </connector>
            <label>AccountFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>Group_Found</name>
        <label>Group Found?</label>
        <locationX>226</locationX>
        <locationY>1007</locationY>
        <defaultConnector>
            <targetReference>Has_Recruiter_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Skill_Group_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Skill_Group</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Skill_Group</targetReference>
            </connector>
            <label>Skill Group Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Group_Id</name>
        <label>Has Group Id?</label>
        <locationX>380</locationX>
        <locationY>767</locationY>
        <defaultConnector>
            <targetReference>Has_Recruiter_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No ID</defaultConnectorLabel>
        <rules>
            <name>Has_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LegacySkillGroupId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LegacySkillGroupId__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Skill_Group</targetReference>
            </connector>
            <label>Has ID</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Recruiter_Email</name>
        <label>Has Recruiter Email</label>
        <locationX>380</locationX>
        <locationY>1439</locationY>
        <defaultConnectorLabel>No Recruiter</defaultConnectorLabel>
        <rules>
            <name>Recruiter_Filled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Recruiter_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Recruiter_Email__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_By_Recruiter_Email</targetReference>
            </connector>
            <label>Recruiter Filled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Recruiter_Found</name>
        <label>Recruiter Found?</label>
        <locationX>182</locationX>
        <locationY>1679</locationY>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>User_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_By_Recruiter_Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Owner</targetReference>
            </connector>
            <label>User Found</label>
        </rules>
    </decisions>
    <interviewLabel>Job Import Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Job Import Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>380</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LegacyOpaID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LegacyAccountId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Skill_Group</name>
        <label>Get Skill Group</label>
        <locationX>226</locationX>
        <locationY>887</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Group_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>opaId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LegacySkillGroupId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Skill_Group__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_By_Recruiter_Email</name>
        <label>Get User By Recruiter Email</label>
        <locationX>182</locationX>
        <locationY>1559</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recruiter_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Recruiter_Email__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LegacyAccountId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LegacyOpaID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
