force-app/main/default/flows/Lead_Team_Qualification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Current_Lead</name>
        <label>Assign Current Lead</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Team_Qualification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead.IT_Teams__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IT_Teams</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.IT_Responsible__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Responsible_for_IT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Looking_for__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Zoeken_Naar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Job Qualification</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Lead_Permanent</name>
        <label>Update Lead Permanent</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead.IT_Team_Structure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IT_Team_Structure</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Work_Environment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkEnvironment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Team_Progress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TeamProgress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Strong_Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StringTeam</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Strong_Sides__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StrongSides</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Business_Communication__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Business_Communication</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Working_method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Working_Method</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Current_Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Project</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Technical_Issues__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Technical_Issues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Future_Projects__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Future_Projects</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Expertice_Capacity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expertise_Capacity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Lead</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Lead_Found</name>
        <label>Lead Found?</label>
        <locationX>336</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Current_Lead</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Type</name>
        <label>Lead Type</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Save_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Freelance</defaultConnectorLabel>
        <rules>
            <name>Permanent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead.Lead_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Permanent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IT_Team_Qualification</targetReference>
            </connector>
            <label>Permanent</label>
        </rules>
    </decisions>
    <interviewLabel>Lead Team Qualification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Team Qualification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>336</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Save_Lead</name>
        <label>Save Lead</label>
        <locationX>182</locationX>
        <locationY>1334</locationY>
        <inputReference>Get_Lead</inputReference>
    </recordUpdates>
    <screens>
        <name>IT_Team_Qualification</name>
        <label>IT Team Qualification</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Team_Preferences</targetReference>
        </connector>
        <fields>
            <name>IT_Team_Structure</name>
            <defaultValue>
                <stringValue>{!Get_Lead.IT_Team_Structure__c}</stringValue>
            </defaultValue>
            <fieldText>Hoe ziet IT team eruit? (Totaal / TL / Rollen)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>WorkEnvironment</name>
            <defaultValue>
                <stringValue>{!Get_Lead.Work_Environment__c}</stringValue>
            </defaultValue>
            <fieldText>Hoe ziet jullie werkomgeving eruit?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>TeamProgress</name>
            <defaultValue>
                <stringValue>{!Get_Lead.Team_Progress__c}</stringValue>
            </defaultValue>
            <fieldText>Hoe is de verloop binnen het team?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>StringTeam</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Lead.Strong_Team__c</elementReference>
            </defaultValue>
            <fieldText>Is er een sterk team gevoel?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>StrongSides</name>
            <defaultValue>
                <stringValue>{!Get_Lead.Strong_Sides__c}</stringValue>
            </defaultValue>
            <fieldText>Sterke kanten – Verbeteringspunten team?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Team_Preferences</name>
        <label>Team Preferences</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Lead_Permanent</targetReference>
        </connector>
        <fields>
            <name>Business_Communication</name>
            <defaultValue>
                <stringValue>{!Get_Lead.Business_Communication__c}</stringValue>
            </defaultValue>
            <fieldText>Hoe zou je de communicatie tussen de business en IT omschrijven?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Working_Method</name>
            <defaultValue>
                <stringValue>{!Get_Lead.Working_method__c}</stringValue>
            </defaultValue>
            <fieldText>Hoe zou je jullie werkwijze omschrijven? (Adhoc - pragmatisch - principieel)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Current_Project</name>
            <defaultValue>
                <stringValue>{!Get_Lead.Current_Project__c}</stringValue>
            </defaultValue>
            <fieldText>Aan welk project zijn jullie op het moment bezig?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Technical_Issues</name>
            <defaultValue>
                <stringValue>{!Get_Lead.Technical_Issues__c}</stringValue>
            </defaultValue>
            <fieldText>Over welke technische vraagstukken voeren jullie op dit moment discussie?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Future_Projects</name>
            <defaultValue>
                <stringValue>{!Get_Lead.Future_Projects__c}</stringValue>
            </defaultValue>
            <fieldText>Welke projecten hebben jullie het komend half jaar op de planning staan?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Expertise_Capacity</name>
            <defaultValue>
                <stringValue>{!Get_Lead.Expertice_Capacity__c}</stringValue>
            </defaultValue>
            <fieldText>Wat doe je als je een niche expertise nodig hebt, of tijdelijk extra capaciteit?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Team_Qualification</name>
        <label>Team Qualification</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
        <fields>
            <name>IT_Teams</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Lead.IT_Teams__c</elementReference>
            </defaultValue>
            <fieldText>Hoeveel verschillende teams heeft jullie IT afdeling?  (split by ; )</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Responsible_for_IT</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Lead.IT_Responsible__c</elementReference>
            </defaultValue>
            <fieldText>Wie is er verantwoordelijk voor deze teams?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Zoeken_Naar</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Lead.Looking_for__c</elementReference>
            </defaultValue>
            <fieldText>Waar en wanneer is wie opzoek naar wat?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
