force-app/main/default/flows/Lead_Job_Rating.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Current_Record</name>
        <label>Assign Current Record</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Job_Rating</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead.Job__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rating</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.High_Urgency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>High_Urgency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Candidate_can_be_Found__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Candidate_Can_Found</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Technicaly_Right_Person__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Technicaly_Right_Person</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Without_CV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Without_CV</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Buy_In__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buy_in</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Have_Customers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Have_Customers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Quick_Decisions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quick_Decisions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.All_Involved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>All_Involved</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Available_for_Call__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Allways_available</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Flexibility_Profile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Flex_Profile</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Flexibility_Process__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Flex_Process</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.C_Level_Job__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CLevel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Job Rating</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Lead</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Lead_Found</name>
        <label>Lead Found</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>ErrorMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Current_Record</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>JobRatings</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Job__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Lead Job Rating {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Job Rating</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Save_Lead</name>
        <label>Save Lead</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <inputReference>Get_Lead</inputReference>
    </recordUpdates>
    <screens>
        <name>ErrorMessage</name>
        <label>ErrorMessage</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;System Error: Requested record not found.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Job_Rating</name>
        <label>Job Rating</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
        <fields>
            <name>Rating</name>
            <choiceReferences>JobRatings</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Rating</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>High_Urgency</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Lead.High_Urgency__c</elementReference>
            </defaultValue>
            <fieldText>Hoge urgentie bij het vinden van het profiel</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Candidate_Can_Found</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Lead.Candidate_can_be_Found__c</elementReference>
            </defaultValue>
            <fieldText>Kandidaten zijn vindbaar</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Technicaly_Right_Person</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Lead.Technicaly_Right_Person__c</elementReference>
            </defaultValue>
            <fieldText>Technisch kunnen kwalificeren bij de juiste persoon</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Without_CV</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Lead.Without_CV__c</elementReference>
            </defaultValue>
            <fieldText>Sell in zonder CV te sturen</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Buy_in</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Lead.Buy_In__c</elementReference>
            </defaultValue>
            <fieldText>Buy in</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Have_Customers</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Lead.Have_Customers__c</elementReference>
            </defaultValue>
            <fieldText>Hebt meerdere klanten met dezelfde aanvraag in de buurt</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Quick_Decisions</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Lead.Quick_Decisions__c</elementReference>
            </defaultValue>
            <fieldText>Kunnen snel beslissten</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>All_Involved</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Lead.All_Involved__c</elementReference>
            </defaultValue>
            <fieldText>Alle betrokkenen kunnen Preppen / Feedback van kunnen krijgen</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Allways_available</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Lead.Available_for_Call__c</elementReference>
            </defaultValue>
            <fieldText>Nemen altijd je telefoontje aan of bellen asap terug</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Flex_Profile</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Lead.Flexibility_Profile__c</elementReference>
            </defaultValue>
            <fieldText>Flexibiliteit op het profiel</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Flex_Process</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Lead.Flexibility_Process__c</elementReference>
            </defaultValue>
            <fieldText>Flexibiliteit op het recruitment proces</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CLevel</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Lead.C_Level_Job__c</elementReference>
            </defaultValue>
            <fieldText>Jobs binnen krijgen op C-Level</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
