force-app/main/default/flows/Lead_Managing_Expectations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Current_Record</name>
        <label>Assign Current Record</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Managing_Expectations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead.Appointments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>appointments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Agreement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>agreement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Job Rating</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Lead</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Lead_Found</name>
        <label>Lead Found?</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Current_Record</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <interviewLabel>Lead Managing Expectations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Managing Expectations</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Save_Lead</name>
        <label>Save Lead</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <inputReference>Get_Lead</inputReference>
    </recordUpdates>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;System Error: Requested Record not found&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Managing_Expectations</name>
        <label>Managing Expectations</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
        <fields>
            <name>PermanentProposal</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Offer proces via ons uitleggen.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Als je dan een kandidaat een aanbieding gaat doen, geeft je die aan ons en gaan wij de kandidaat voor je testen op welk punt hij ja zegt op de functie en het aanbod.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Op die manier weten we zeker dat hij 100% gaat voor de baan en niet bijvoorbeeld gaat shoppen met een aanbieding op zak.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Mocht er nog iets zijn of spelen brengen we dat eerst volledig in kaart en adviseren jou over een mogelijk te volgen strategie.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Dat kan ook zijn bijvoorbeeld: hij is niet 100% gecommitteerd, laten we op zoek gaan naar de volgende. OF natuurlijk, hartelijk gefeliciteerd met je nieuwe werknemer!!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Lead.Lead_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Permanent</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Agree_to_proposal</name>
            <dataType>Boolean</dataType>
            <fieldText>Agree to proposal</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Lead.Lead_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Permanent</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(242, 242, 242); font-size: 14px; font-family: OpenSans, Arial, sans-serif; color: rgb(26, 26, 26);&quot;&gt;Wat ik nu voor je ga doen is: &lt;/span&gt;&lt;b style=&quot;background-color: rgb(242, 242, 242); font-size: 14px; font-family: OpenSans, Arial, sans-serif; color: rgb(255, 0, 0);&quot;&gt;leg je dienst uit!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>appointments</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Lead.Appointments__c</elementReference>
            </defaultValue>
            <fieldText>Perfect dan: ... afspraken .. en op het moment dat ik iemand voor je heb hang ik onmiddellijk aan de telefoon</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>agreement</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Lead.Agreement__c</elementReference>
            </defaultValue>
            <fieldText>Laten we afspreken dat we .... contact hebben om door te nemen wat de tussenstand is.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
