force-app/main/default/flows/Lead_Business_Qualification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Flow_Current_Record</name>
        <label>Flow Current Record</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Business_Qualification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead.Business_Culture__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Business_Culture</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Business_Model__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Business_Model</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Business_Uniqueness__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Business_Uniqueness</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Business_Background__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Business_Background</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.NumberOfEmployees</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_Employees</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Business_Structure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Business_Structure</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Business_Role_IT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Role_of_IT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.IT_Technologies__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IT_Technologies</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Business_Situation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Business_Situation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Business_Goals__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Business_Goals</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Business_Clients__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Business_Clients</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Business_Competitors__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Business_Competitors</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Lead_Status</name>
        <label>Update Lead Status</label>
        <locationX>534</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Team Qualification</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Specific_fields</name>
        <label>Update Specific fields</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead.X_Factor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>XFactor</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Qualification_Completed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Lead_Found</name>
        <label>Lead Found?</label>
        <locationX>248</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Flow_Current_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Not_Found</targetReference>
            </connector>
            <label>Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Type</name>
        <label>Lead Type</label>
        <locationX>446</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Qualification_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Freelance</defaultConnectorLabel>
        <rules>
            <name>Permanent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead.Lead_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Permanent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Specific_fields</targetReference>
            </connector>
            <label>Permanent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Qualification_Completed</name>
        <label>Qualification Completed?</label>
        <locationX>446</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Update_Lead_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Not_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Business_Qualification_Completed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_Record</targetReference>
            </connector>
            <label>Not Completed</label>
        </rules>
    </decisions>
    <interviewLabel>Lead Business Qualification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Business Qualification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>248</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead_Record</name>
        <label>Update Lead Record</label>
        <locationX>446</locationX>
        <locationY>1550</locationY>
        <inputReference>Get_Lead</inputReference>
    </recordUpdates>
    <screens>
        <name>Business_Overview</name>
        <label>Business Overview</label>
        <locationX>446</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
        <fields>
            <name>Business_Situation</name>
            <defaultValue>
                <stringValue>{!Get_Lead.Business_Situation__c}</stringValue>
            </defaultValue>
            <fieldText>Business Situation</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Business_Uniqueness</name>
            <defaultValue>
                <stringValue>{!Get_Lead.Business_Uniqueness__c}</stringValue>
            </defaultValue>
            <fieldText>Business Uniqueness</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Business_Goals</name>
            <defaultValue>
                <stringValue>{!Get_Lead.Business_Goals__c}</stringValue>
            </defaultValue>
            <fieldText>Business Goals</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Business_Clients</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Lead.Business_Clients__c</elementReference>
            </defaultValue>
            <fieldText>Business Clients</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Business_Culture</name>
            <defaultValue>
                <stringValue>{!Get_Lead.Business_Culture__c}</stringValue>
            </defaultValue>
            <fieldText>Business Culture</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Business_Competitors</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Lead.Business_Competitors__c</elementReference>
            </defaultValue>
            <fieldText>Business Competitors</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>XFactor</name>
            <defaultValue>
                <stringValue>{!Get_Lead.X_Factor__c}</stringValue>
            </defaultValue>
            <fieldText>•	Wat is jullie X - factor? Waarom het het zo leuk om bij jullie te werken?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Lead.Lead_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Permanent</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Confirmation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Please Confirm that Business Qualification is completed. If it&apos;s completed, Status of the Lead will be updated.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Business_Qualification_Completed</name>
            <dataType>Boolean</dataType>
            <fieldText>Business Qualification Completed</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Business_Qualification</name>
        <label>Business Qualification</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Business_Overview</targetReference>
        </connector>
        <fields>
            <name>Business_Model</name>
            <defaultValue>
                <stringValue>{!Get_Lead.Business_Model__c}</stringValue>
            </defaultValue>
            <fieldText>Business Model</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Business_Background</name>
            <defaultValue>
                <stringValue>{!Get_Lead.Business_Background__c}</stringValue>
            </defaultValue>
            <fieldText>Business Background</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Number_of_Employees</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Lead.NumberOfEmployees</elementReference>
            </defaultValue>
            <fieldText>Number of Employees</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Business_Structure</name>
            <defaultValue>
                <stringValue>{!Get_Lead.Business_Structure__c}</stringValue>
            </defaultValue>
            <fieldText>Business Structure</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Role_of_IT</name>
            <defaultValue>
                <stringValue>{!Get_Lead.Business_Role_IT__c}</stringValue>
            </defaultValue>
            <fieldText>Role of IT</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>IT_Technologies</name>
            <defaultValue>
                <stringValue>{!Get_Lead.IT_Technologies__c}</stringValue>
            </defaultValue>
            <fieldText>IT Technologies</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Lead_Not_Found</name>
        <label>Lead Not Found</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NotFoundError</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;System Error: Requested Lead not found&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
