force-app/main/default/flows/Lead_TC_Qualification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead.Max_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Salaris_range_max</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Min_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Salaris_range_min</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Lead</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>bepaalde1</name>
        <choiceText>bepaalde tijd 1 jaar</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>bepaalde tijd 1 jaar</stringValue>
        </value>
    </choices>
    <choices>
        <name>bepaalde6</name>
        <choiceText>bepaalde tijd 6 maanden</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>bepaalde tijd 6 maanden</stringValue>
        </value>
    </choices>
    <choices>
        <name>Indefenite</name>
        <choiceText>onbepaald</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>onbepaald</stringValue>
        </value>
    </choices>
    <choices>
        <name>maand13</name>
        <choiceText>13e maand</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>13e maand</stringValue>
        </value>
    </choices>
    <choices>
        <name>variabele</name>
        <choiceText>variabele bonus + bedrag</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>variabele bonus + bedrag</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Lead_Found</name>
        <label>Lead Found</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TC_Qualification</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <interviewLabel>Lead TC Qualification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead TC Qualification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Save_Lead</name>
        <label>Save Lead</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <inputReference>Get_Lead</inputReference>
    </recordUpdates>
    <screens>
        <name>TC_Qualification</name>
        <label>TC Qualification</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>TC_Qualification_Extras</targetReference>
        </connector>
        <fields>
            <name>Salaris_range_min</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Get_Lead.Min_Rate__c</elementReference>
            </defaultValue>
            <fieldText>Salaris range (min)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Salaris_range_max</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Get_Lead.Max_Rate__c</elementReference>
            </defaultValue>
            <fieldText>Salaris range (max)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Introduce_Expensieve</name>
            <dataType>Boolean</dataType>
            <fieldText>Stel ik vind de ideale kand. Maar die verdient +€500 wil je dan nog dat ik hem introduceer?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>WorkingHours</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>40.0</numberValue>
            </defaultValue>
            <fieldText>Aantal werkuren</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Type_Contract</name>
            <choiceReferences>Indefenite</choiceReferences>
            <choiceReferences>bepaalde1</choiceReferences>
            <choiceReferences>bepaalde6</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type Contract</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>IndefeniteContract</name>
            <dataType>Boolean</dataType>
            <fieldText>Stel ik vind iemand met een contract voor onbepaalde tijd, is dat dan ook bespreekbaar?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Bonussen</name>
            <choiceReferences>maand13</choiceReferences>
            <choiceReferences>variabele</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Bonussen</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Aantal_vakantiedagen_uren</name>
            <dataType>Number</dataType>
            <fieldText>Aantal vakantiedagen / uren</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TC_Qualification_Extras</name>
        <label>TC Qualification Extras</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
        <fields>
            <name>PensionProvision</name>
            <dataType>String</dataType>
            <fieldText>Pensioenvoorziening: x% grondslag, bedrag en x% betaald door werkgever</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>FlexibleHours</name>
            <dataType>String</dataType>
            <fieldText>Flex werktijden: van .... tot ....</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>WorkFromHome</name>
            <dataType>Number</dataType>
            <fieldText>Thuiswerken: aantal dagen</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Overtime</name>
            <dataType>Boolean</dataType>
            <fieldText>Overwerken</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Lease_auto</name>
            <dataType>Boolean</dataType>
            <fieldText>Lease auto</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Tankpas</name>
            <dataType>Boolean</dataType>
            <fieldText>Tankpas</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reiskosten</name>
            <dataType>Boolean</dataType>
            <fieldText>Reiskosten</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Mobiel</name>
            <dataType>Boolean</dataType>
            <fieldText>Mobiel</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Laptop</name>
            <dataType>Boolean</dataType>
            <fieldText>Laptop</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Expenses</name>
            <dataType>Currency</dataType>
            <fieldText>Onkostenvergoeding</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Inet_fee</name>
            <dataType>Currency</dataType>
            <fieldText>Inet vergoeding</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>TrainingBudget</name>
            <dataType>Currency</dataType>
            <fieldText>Trainingsbudget</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Discount</name>
            <dataType>String</dataType>
            <fieldText>Bedrijfskortingen</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Standby_fee</name>
            <dataType>Currency</dataType>
            <fieldText>Standby vergoeding</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Scheduled_Wage</name>
            <dataType>String</dataType>
            <fieldText>Geplande loon evaluaties</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
