force-app/main/default/flows/Lead_Hotness_Qualification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Current_Record</name>
        <label>Assign Current Record</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HOTness_Qualification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead.Already_Done__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AlreadyDone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Can_Book__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CanBook</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Can_Call__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CanCall</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Candidate_Before_Decision__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CandidateBeforeDecision</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.CV_Received__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CVReceived</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Decision_Metrics__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DecisionMetrics</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Hiring_Agreed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HiringAgreed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.If_Not_Suitable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IfNotSuitable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Interview_Suitable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InterviewSuitable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Normal_Approach__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NormalApproach</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Often_Hire__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Often</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Profiles_Deadline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProfileDeadline</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Response_in__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResponseIn</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Submit_Everything__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubmitEverything</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Who_Makes_Decision__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WhoMakesDecision</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Expectations</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Lead</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Lead_Found</name>
        <label>Lead Found?</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Current_Record</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <interviewLabel>Lead Hotness Qualification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Hotness Qualification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Save_Lead</name>
        <label>Save Lead</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <inputReference>Get_Lead</inputReference>
    </recordUpdates>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;System Error: Requested Record not found.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>HOTness_Qualification</name>
        <label>HOTness Qualification</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Process_Qualification</targetReference>
        </connector>
        <fields>
            <name>Often</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Lead.Often_Hire__c</elementReference>
            </defaultValue>
            <fieldText>Huren jullie vaker in?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>IfNotSuitable</name>
            <defaultValue>
                <stringValue>{!Get_Lead.If_Not_Suitable__c}</stringValue>
            </defaultValue>
            <fieldText>Wat gebeurd er als je deze persoon niet vindt? Kosten, overtijd, stress, gemiste deadlines, verlies contract?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>HOTnessMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(242, 242, 242); font-size: 14px; font-family: OpenSans, Arial, sans-serif; color: rgb(26, 26, 26);&quot;&gt;Ik wil graag alles laten vallen en alles op alles zetten om de juiste kandidaat zo snel mogelijk voor je te vinden. ////   Alleen dan wil ik wel dezelfde commitment van jou terug. Dan wil ik graag dat je deze opdracht exclusief bij mij uitzet.  ////   Dat betekent dat dat je niet nog andere recruiters voor deze functie benadert en mij de kans geeft me te bewijzen.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SubmitEverything</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Lead.Submit_Everything__c</elementReference>
            </defaultValue>
            <fieldText>Wil je dat ik alles voor je laat vallen?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AlreadyDone</name>
            <defaultValue>
                <stringValue>{!Get_Lead.Already_Done__c}</stringValue>
            </defaultValue>
            <fieldText>Wat heb je al gedaan om deze functie in te vullen?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>NormalApproach</name>
            <defaultValue>
                <stringValue>{!Get_Lead.Normal_Approach__c}</stringValue>
            </defaultValue>
            <fieldText>Hoe pakken jullie dat normaal gesproken aan?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CVReceived</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Lead.CV_Received__c</elementReference>
            </defaultValue>
            <fieldText>Hoeveel CV’s heb je reeds ontvangen?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Process_Qualification</name>
        <label>Process Qualification</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
        <fields>
            <name>ProfileDeadline</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Get_Lead.Profiles_Deadline__c</elementReference>
            </defaultValue>
            <fieldText>Profile Deadline</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>IntakeProcess</name>
            <fieldText>Hoe ziet het intakeproces eruit?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ResponseIn</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Lead.Response_in__c</elementReference>
            </defaultValue>
            <fieldText>Als ik je een CV stuur, hoe snel kan je daar dan op reageren?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CanCall</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Lead.Can_Call__c</elementReference>
            </defaultValue>
            <fieldText>Kan ik je opbellen over de kandidaat vertellen?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CanBook</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Lead.Can_Book__c</elementReference>
            </defaultValue>
            <fieldText>Kan je hem dan gelijk inboeken?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>InterviewSuitable</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Lead.Interview_Suitable__c</elementReference>
            </defaultValue>
            <fieldText>Welke data/tijden kan je een geschikte kandidaat zien?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CandidateBeforeDecision</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Lead.Candidate_Before_Decision__c</elementReference>
            </defaultValue>
            <fieldText>Hoeveel kandidaten wil je zien voordat je kan beslissen?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>WhoMakesDecision</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Lead.Who_Makes_Decision__c</elementReference>
            </defaultValue>
            <fieldText>Wie neemt uiteindelijk de beslissing?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DecisionMetrics</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Lead.Decision_Metrics__c</elementReference>
            </defaultValue>
            <fieldText>Hoe wordt er, ga jij beslissen? Prijs / snelheid starten / expertise / anders</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>HiringAgreed</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Lead.Hiring_Agreed__c</elementReference>
            </defaultValue>
            <fieldText>Is er al akkoord voor inhuur? (Sign-off)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
