force-app/main/default/flows/New_Mailshot.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Type_of_Mailshot</name>
        <label>Type of Mailshot</label>
        <locationX>542</locationX>
        <locationY>222</locationY>
        <defaultConnector>
            <targetReference>Get_Job</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Job</defaultConnectorLabel>
        <rules>
            <name>Candidate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CandidateDetails</targetReference>
            </connector>
            <label>Candidate</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Templates</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Mailshot Job</stringValue>
            </value>
        </filters>
        <object>EmailTemplate</object>
        <outputAssignments>
            <assignToReference>templateText</assignToReference>
            <field>HtmlValue</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <description>l</description>
        <name>mailshotUrll</name>
        <dataType>String</dataType>
        <expression>&apos;/&apos;+{!Create_Mailshot}</expression>
    </formulas>
    <interviewLabel>New Mailshot {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Mailshot</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_CandidateMailshot</name>
        <label>Create Mailshot</label>
        <locationX>462</locationX>
        <locationY>680</locationY>
        <connector>
            <targetReference>Success_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Candidate__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HTML_Body__c</field>
            <value>
                <elementReference>templateText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject__c</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title__c</field>
            <value>
                <elementReference>CandidateFunction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Candidate</stringValue>
            </value>
        </inputAssignments>
        <object>Mailshot__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Mailshot</name>
        <label>Create Mailshot</label>
        <locationX>656</locationX>
        <locationY>662</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <inputAssignments>
            <field>HTML_Body__c</field>
            <value>
                <elementReference>templateText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject__c</field>
            <value>
                <elementReference>mailshotSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title__c</field>
            <value>
                <elementReference>Function</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Job</stringValue>
            </value>
        </inputAssignments>
        <object>Mailshot__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Job</name>
        <label>Get Job</label>
        <locationX>656</locationX>
        <locationY>422</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Mailshot</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>CandidateDetails</name>
        <label>Candidate Details</label>
        <locationX>466</locationX>
        <locationY>541</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_CandidateMailshot</targetReference>
        </connector>
        <fields>
            <name>CandidateFunction</name>
            <dataType>String</dataType>
            <fieldText>Function</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Template</name>
            <choiceReferences>Templates</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Template</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Resourced professional</stringValue>
            </defaultValue>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Mailshot</name>
        <label>New Mailshot</label>
        <locationX>656</locationX>
        <locationY>542</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Mailshot</targetReference>
        </connector>
        <fields>
            <name>Function</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Job.Function__c</elementReference>
            </defaultValue>
            <fieldText>Function</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Select_Template</name>
            <choiceReferences>Templates</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Template</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>mailshotSubject</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue
        >Opportunity for {!Get_Job.Function__c}</stringValue>
            </defaultValue>
            <fieldText>Mailshot Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>655</locationX>
        <locationY>828</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Redirect</name>
            <extensionName>c:Flow_Redirect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recId</name>
                <value>
                    <elementReference>Create_Mailshot</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn
      >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_0</name>
        <label>Success</label>
        <locationX>463</locationX>
        <locationY>823</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Redirect_0</name>
            <extensionName>c:Flow_Redirect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recId</name>
                <value>
                    <elementReference
          >Create_CandidateMailshot</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn
      >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>530</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Type_of_Mailshot</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>FlowType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Job</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>templateText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
