force-app/main/default/flows/Skill_Group_Association_import.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Skill_Group_Association</name>
        <label>Assign Skill Group Association</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>$Record.Skill_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Group.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Professional_Skill__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Skill.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Group_Found</name>
        <label>Group Found</label>
        <locationX>336</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>GroupFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Group</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Skill</targetReference>
            </connector>
            <label>GroupFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skill_Found</name>
        <label>Skill Found</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>SkillFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Skill</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Skill_Group_Association</targetReference>
            </connector>
            <label>SkillFound</label>
        </rules>
    </decisions>
    <interviewLabel>Skill Group Association import {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Skill Group Association import</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Group</name>
        <label>Get Group</label>
        <locationX>336</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Group_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>opaId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpaGroupID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Skill_Group__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Skill</name>
        <label>Get Skill</label>
        <locationX>182</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Skill_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LegacySkillId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpaSkillID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Skill__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpaGroupID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OpaSkillID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Skill_Group_Association__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
