force-app/main/default/flows/Skill_Association_Import.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Account</name>
        <label>Assign Account</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Skill</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact</name>
        <label>Assign Contact</label>
        <locationX>578</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Skill</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Job</name>
        <label>Assign Job</label>
        <locationX>1106</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.Job__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LegacyObjectID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Skill</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Skill</name>
        <label>Assign Skill</label>
        <locationX>908</locationX>
        <locationY>1223</locationY>
        <assignmentItems>
            <assignToReference>$Record.Skill__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Skill.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Account_Found</name>
        <label>Account Found</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>AccountFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account</targetReference>
            </connector>
            <label>AccountFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Found</name>
        <label>Contact Found?</label>
        <locationX>710</locationX>
        <locationY>791</locationY>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>ContactFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact</targetReference>
            </connector>
            <label>ContactFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>Job_Found</name>
        <label>Job Found</label>
        <locationX>1238</locationX>
        <locationY>791</locationY>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>JobFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Job</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Job</targetReference>
            </connector>
            <label>JobFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skill_Found</name>
        <label>Skill Found?</label>
        <locationX>1403</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>SkillFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Skill</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_Object</targetReference>
            </connector>
            <label>SkillFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Object</name>
        <label>What Object</label>
        <locationX>908</locationX>
        <locationY>551</locationY>
        <defaultConnectorLabel>NONE</defaultConnectorLabel>
        <rules>
            <name>account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OpaObjectName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>account</label>
        </rules>
        <rules>
            <name>contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OpaObjectName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>contact</label>
        </rules>
        <rules>
            <name>job</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OpaObjectName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>job</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Job</targetReference>
            </connector>
            <label>job</label>
        </rules>
    </decisions>
    <interviewLabel>Skill Association Import {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Skill Association Import</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LegacyOpaID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LegacyObjectID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>710</locationX>
        <locationY>671</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LegacyOpaID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LegacyObjectID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Job</name>
        <label>Get Job</label>
        <locationX>1238</locationX>
        <locationY>671</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Job_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LegacyOpaID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LegacyObjectID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Skill</name>
        <label>Get Skill</label>
        <locationX>1403</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Skill_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LegacySkillId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LegacySkillID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Skill__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1277</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Skill</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LegacyObjectID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LegacySkillID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OpaObjectName__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Skill_Association__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
